<div class="title">
  <h1>{{ title }}</h1>
</div>

<mat-divider></mat-divider>
<br />
<br />
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Random Number</mat-label>
    <input
      matInput
      id="random"
      name="random"
      [(ngModel)]="random"
      placeholder="Enter X"
      value=""
      (ngModelChange)="numToRgb($event)"
    />
  </mat-form-field>
  <div class="center"></div>
  <!--   <button class="btn btn-info" type="button" (click)="numToRgb(random)">
    Generate
  </button> -->
  <!-- <div class="btn btn-info" (click)="clear()">Clear</div> -->
  <div class="btn btn-primary" (click)="downloadImage()">Download</div>
</form>

<div class="container">
  <div class="grid">
    <div
      class="cell"
      *ngFor="let g of green; let i = index"
      style.background="rgb({{ red[i] }}, {{ green[i] }}, 0)"
    ></div>
  </div>
  <div id="download">
    <a #downloadLink></a>
  </div>
</div>
